<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户登录</title>
</head>

<body>
    <div>
        <form>
            姓名：<input type="text" name="name" />
            <br />
            密码：<input type="text" name="pwd" />
            <br />
        </form>
        <button id='login'>登录</button>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $('#login').click(function(){
        var name = $("input[name='name']").val();
        var pwd = $("input[name='pwd']").val();
        $.ajax({
        url:'/users/login',
        data:{
          name:name,
          pwd:pwd
        },
        success:function(json){
          // var json = eval("("+str+")");
          // 这边直接返回json,所以上面那个转化就不需要了
          if(json.ok){
            alert(json.msg);
          }else{
            alert(json.msg);
          }
        },
        error:function(err){
          alert("账户不存在！");
        }
      })
    });
</script>

</html>